@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;900&display=swap");

body {
  font-family: "Raleway", sans-serif;
  background-color: #131516;
  color: #e8e6e3;
}
.news-feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .article {
    border: 1px solid rgb(0, 0, 0);
    margin-bottom: 5px;
    max-width: 300px;
    font-size: small;
  }
  .article-image img {
    max-width: 250px;
    max-height: 100px;
  }
  .options .categories p {
    font-size: small;
  }
  .options {
    justify-content: center;
    align-items: center;
  }
}
